// Your styles go here

$background-color: maroon;
$box-color: grey;
$text-color: white;
$body-color: lightgrey;
$hover-color: #555;
$button: blue;

// Mixin to calculate box size
@mixin calculate-box-size($base-size, $multiplier) {
    width: $base-size * $multiplier;
    height: $base-size * $multiplier;
}

@import "@fortawesome/fontawesome-free/css/all.css";


html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body{
    background: $body-color;
}

nav {
    display: flex;
    background: $background-color;
    justify-content: right; 
    align-items: right; 
}

nav > ul {
    display: flex;
}

nav > ul > li {
    margin-right: 1rem;
    list-style-type: none;
}

nav a {
    color: $text-color;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: $hover-color;
}

.text{
    text-align: center;
    background-color: $box-color;
    padding: 20px;
    z-index: -1;
    box-shadow: 1px 1px 3px
}

.top-box{
    background: $background-color;
    color: $text-color;
    padding: 140px;
    text-align: center;
}



.container1{
    display: flex;
    padding: 50px;
    justify-content: center; 
    align-items: center; 
}

.Box1, .Box2, .Box3{
    @include calculate-box-size(175px, 2);
    background-color: $box-color;
    margin: 5px;
    padding: 100px;
}

button{
    background-color: $button;
    color: $text-color;
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px;
}

button:hover{
    background-color: $hover-color;
}

.container2{
    text-align: center;
    padding: 120px;
}

.container3{
    display: flex;
    padding: 50px;
}

.box4, .box5{
    background-color: $box-color;
    margin: 10px;
    padding: 10px;
}

.container4{
    display: flex;
    padding: 50px;
    flex-direction: column;
}

img{
    width: 1000px;
}

.box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13, .box14, .box15{
    background-color: $box-color;
    margin: 10px;
    padding: 10px;
}

footer{
    list-style-type: none;
    display: flex;
    background: white;
    justify-content: center; 
    align-items: center; 
    padding: 100px;
}

.container5, .container6, .container7{
    @include calculate-box-size(100px, 2);
    margin: 5px;
    padding: 100px;
}
