// Your styles go here

$background-color: maroon;
$box-color: grey;
$text-color: white;
$body-color: lightgrey;

@import "@fortawesome/fontawesome-free/css/all.css";

html{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body{
    background: $body-color;
}

nav {
    display: flex;
    background: $background-color;
}

nav > ul {
    display: flex;
}

nav > ul > li {
    margin-left: 1rem;
    list-style-type: none;
}

nav a {
    color: $text-color;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #555;
}

.top-box{
    background: $background-color;
    color: $text-color;
    padding: 140px;
    text-align: center;
}

.container1{
    display: flex;
    padding: 50px;
    
}

.Box1, .Box2, .Box3{
    background-color: $box-color;
    margin: 5px;
    padding: 100px;
}

.container2{
    text-align: center;
    padding: 120px;
}

.container3{
    display: flex;
    padding: 50px;
}

.box4, .box5{
    background-color: $box-color;
    margin: 10px;
    padding: 10px;
}

.container4{
    display: flex;
    padding: 50px;
    flex-direction: column;
}

.box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13, .box14, .box15{
    background-color: $box-color;
    margin: 10px;
    padding: 10px;
}


